@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

.navbar .navbar-menu
  box-shadow:none !important

.navbar-brand .navbar-item.logo
  padding: 0 1rem

///////////////////////////////////////////////////////

/*  Hero Section  */

.dataharvest-logo
  height: auto
  position: absolute
  top: 0
  right: 0
  margin: 5%

.title, .subtitle
  color: #ffffff

.title
  font-family: Montserrat, sans-serif
  font-weight: 100

.subtitle
  font-family: auto




/* media queries */
@media only screen and (min-width: 320px)
  .dataharvest-logo
    width: 30%

@media only screen and (min-width: 768px)
  .dataharvest-logo
    width: 15%